
/* General CSS style */
.App {
  text-align: center;
}

.App-header {
  background-color: none;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

/* Input form for writing mood */
textarea {
  padding: 8px;
  margin: 10px;
  font-size: 15px;
  width: 300px;
  min-height: 20px; 
  resize: vertical; 
}

form {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
}

/* Submit button */
button {
  padding: 0px 20px; 
  margin: 10px;
  font-size: 18px;
  font-weight: bold ;
  background-color: #adecf7; 
  color: black; 
  border: none; 
  border-radius: 10px;
  cursor: pointer; 
  transition: all 0.3s ease;
  vertical-align: top;
}

button:hover {
  background-color: #76bfcc; 
}

.button-content {
  display:grid;
}

.button-text, .loader-container {
  grid-row: 1;
  grid-column: 1;
}


.loader {
  position: relative;
  top: 13px;
  /* transform: translateY(50%); */
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 24px;
  height: 24px;
  padding: 0px;
  animation: spin 2s linear infinite;
  align-self: center;
}

.loader-container {
  /* position: relative; */
  margin-top: 0px;
}

/* Main area where the loading bar / content will appear */
.center-loading {
  display: flexbox;
  justify-content: center;
  align-items: center; 
  height: 100vh; 
}

/*  individual boxes for content to appear */
.center-box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  width: 100vw;

}

/*  controls the space between title and also song name and artist */
h1 {
  margin: 0.15em 0; 
  /* font-size: 60px; */
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

h2 {
  margin: 0.15em 0; 
}

/* image boxes */
.imagebox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: auto; /* fixed box height */
  background-color: #f0f0f0; 
  border: 1px solid none; 
  border-radius: 10px; 
  padding: 10px; 
  max-width: 800px;
  margin: 5px;
  margin-left: 10px; 
  overflow: auto; 
  word-wrap: break-word; 
}


.imagebox .image-container {
  display: grid;
  grid-template-rows: auto 1fr;
  align-items: start;
  height: 100%; 
}

.imagebox img {
  height: auto; 
  max-height: 200px;
  align-items: start;
  width: auto;
  border-radius: 7%;
}

.imagebox .text-right {
  margin-left: 10px; 
  overflow: auto; 
  word-wrap: break-word; 
}

/* text box (right) */
.textbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: auto; /* fixed textbox height */
  background-color: #f0f0f0; 
  border: 1px solid none; 
  border-radius: 10px; 
  padding: 20px; 
  max-width: 480px;
  margin: 5px;
  margin-left: 10px; 
  overflow: auto; 
  word-wrap: break-word; 
}

.textbox .image-container {
  display: grid;
  grid-template-rows: auto 1fr;
  align-items: start;
  height: auto; /* added this line */
  width: auto;
  align-self: start;
  padding-left: 0px;
  padding-right: 10px;
  
}

.textbox .image-container img {
  height: 30px; 
  align-self: start;
}

/* font and style of text in AI recommendation box */
.textbox p {
  margin: 0; 
  color: #303030;
  font-size: 15px;
  text-align: justify;
  padding-right:15px
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* spotify embed widget to match style of other boxes */
.spotify {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: auto; /* fixed textbox height */
  max-width: 520px;
  margin: 0px;
  margin-left: 10px; 
  overflow: auto; 
  word-wrap: break-word; 
  padding-top:5px;
}

/* area for both spotify and recommender text to be aligned one on top of the other */
.vertical-area {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: start;
  height: 100vh;
}

.info-icon {
  position: relative;
  color:#3498db;
  display: inline-block;
  /* border-bottom: 2px grey;  */
  padding-right:10px;
}

.info-icon i {
  font-style: normal; 
}

.info-icon .info-text {
  visibility: hidden;
  width: 220px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  bottom: -75%; 
  left: -350%;
  margin-left: -108px; 
  opacity: 0;
  transition: opacity 0.3s;
}

.info-icon:hover .info-text {
  font-size: 12px;
  visibility: visible;
  opacity: 0.8;
}